$tablet: 768px;
$desktop: 1200px;
$default-font-family: 'Roboto', sans-serif;
$titles-font-family: 'Roboto Slab', serif;
$default-font-size: 18px;
$default-tablet-font-size: 20px;
$color-white: #ffffff;
$color-black: black;
$color-medium-black: #4a4a4a;
$color-light-blue: #8ccbea;
$color-ice-blue: #eff9ff;
$color-medium-blue: #0271bc;
$color-dark-blue: #304268;
$color-orange: #f26002;
$section-padding: 30px 15px 45px;
$section-padding-tablet: 30px 40px 60px;
$section-padding-desktop: 60px 0;
