@include media($tablet) {
    html {
        font-size: $default-tablet-font-size;
    }

    .header {
        &__title {
        font-size: rem-tablet(80px);
        }

        &__subtitle {
            font-size: rem-tablet(24px);
            margin-bottom: 30px;
        }

        &__button {
            margin-bottom: 45px;
        }
    }

    .section-window {
        padding: $section-padding-tablet;

        &__entry {
            font-size: rem-tablet(14px);
        }

        &__title {
            font-size: rem-tablet(26px);
        }

        &__text {
            font-size: rem-tablet(20px);
        }

        &__button-go {
            font-size: rem-tablet(20px);
        }
    }

    .section-reasons {
        padding: $section-padding-tablet;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        grid-row-gap: 45px;
        grid-column-gap: 4%;

        &__title {
            grid-column-start: 1;
            grid-column-end: 4;
        }

        &__reason-item {
            margin: 0 0 15px;
        }
    }

    .reason-item__title {
        margin-bottom: 14px;
    }

    .section-window__button-go {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row: 3;
        padding-left: 43px;
        padding-right: 43px;
    }

    .special-offer {
        display: block;
        width: 100vw;
        background-color: $color-button;
        color: $color-primary;
        text-align: center;
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
    }

    .special-offer_subtitle {
        flex-basis: 100%;
    }

    .footer {
        text-align: left;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
        padding: 45px 39px;

        &__links {
            margin-bottom: 0;
        }

        &__copyright {
            order: -1;
        }

        &__links, &__copyright {
            flex-basis: 30%;
        }
    }
}

@include media($desktop) {
    .header {
        &__title {
            font-size: rem-tablet(100px);
            max-width: 730px;
            margin: 0 auto;
        }

        &__button {
            margin-bottom: 10px;
        }
    }

    .section-window {
        padding: $section-padding-desktop;
        max-width: 730px;
        margin: 0 auto;
    }

    .section-reasons {
        padding: $section-padding-desktop;
        max-width: 1100px;
        margin: 0 auto;

        &__title {
            font-size: rem-tablet(32px);
        }
    }

    .section-window__button-go {
        padding-left: 62px;
        padding-right: 62px;
    }

    .footer {
        padding-left: 0;
        padding-right: 0;
        max-width: 540px;
        margin: 0 auto; 
    }
}